<mat-expansion-panel >
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{panelTitle}}
    </mat-panel-title>
    <mat-panel-description>
      Füge eine neues Bild hinzu
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ng-template ngFor let-imageExp [ngForOf]="imageExpansionList">
    <div *ngIf="filterView(imageExp)">
      <mat-divider class="tile-div"></mat-divider>
      <mat-form-field class="desc-form-field">
      <textarea matInput placeholder="Beschreibung" [(ngModel)]="imageExp.description"></textarea>
      </mat-form-field>
      <mat-form-field *ngIf="!isChildComponent()">
        <mat-label>Apartment</mat-label>
        <mat-select [(ngModel)]="imageExp.fk_apartment">
          <mat-option *ngFor="let apartmentList of allApartmentList" [value]="apartmentList.desc">
            {{apartmentList.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="!isChildComponent()">
        <mat-label>Info Text</mat-label>
        <mat-select [(ngModel)]="imageExp.fk_info">
          <mat-option *ngFor="let infoTextList of allInfoTextList" [value]="infoTextList.desc">
            {{infoTextList.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="!isChildComponent()">
        <mat-label>Kacheln</mat-label>
        <mat-select [(ngModel)]="imageExp.fk_tile">
          <mat-option *ngFor="let tileList of allTileList" [value]="tileList.desc">
            {{tileList.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="click-button" mat-stroked-button (click)="fileInput.click()">Hochladen</button>
      <input hidden (change)="onFileChanged(imageExp.ID,$event)" #fileInput type="file" id="file">
      <button class="save-button material-icons" mat-stroked-button aria-hidden="false" aria-label="preview" matTooltip="Picture Preview" color="primary" (click)="openDialog(imageExp)">satellite</button>
      <button class="save-button material-icons" mat-stroked-button aria-hidden="false" aria-label="save" matTooltip="Save Picture" color="primary" >save</button>
      <button class="save-button material-icons" mat-stroked-button aria-hidden="false" aria-label="remove" matTooltip="Delete Picture" color="warn" (click)="removeEntry(imageExp)">remove_circle</button>
      <div class="tile-div"></div>
    </div>
  </ng-template>
  <mat-divider class="tile-div"></mat-divider>
  <button class="add-button" mat-stroked-button aria-hidden="false" aria-label="save" matTooltip="Neuer Eintrag" color="primary" (click)="addNewEntry()">Neuer Eintrag</button>
</mat-expansion-panel>
