<mat-toolbar color="primary">
<span>Bearbeiten und hinzufügen</span>
<span class="bar-spacer"></span>
<button mat-button class="material-icons" aria-hidden="false" aria-label="refresh" matTooltip="Neu laden" color="black" (click)="askRefresh()">cached</button>
<button mat-button class="material-icons" aria-hidden="false" aria-label="shrink" matTooltip="Alles zuklappen" matTooltipPosition="below">unfold_less</button>
<button mat-button class="material-icons" aria-hidden="false" aria-label="save" matTooltip="Alles speichern" color="accent" (click)="askSave()">save</button>
</mat-toolbar>
<div class="spinner-container" *ngIf="!isFinished()">
    <mat-progress-spinner class="spinner-view" mode="determinate" [value]="getSpinnerValue()"></mat-progress-spinner>
</div>
<mat-accordion *ngIf="isFinished()" multi="true">
    <app-tile-edit></app-tile-edit>
    <app-all-image-edit></app-all-image-edit>
    <app-all-info-text-edit></app-all-info-text-edit>
    <app-all-apartment-edit></app-all-apartment-edit>
    <app-all-apartment-details-edit></app-all-apartment-details-edit>
</mat-accordion>