<mat-sidenav-container class="sidenav-container" autosize>
    <!-- <app-navbar></app-navbar> -->
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar color="primary">Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item [routerLink]="[{ outlets: { nav: ['dashboard'] } }]" routerLinkActive="active">DashBoard</a>
        <a mat-list-item [routerLink]="[{ outlets: { nav: ['tile'] } }]" routerLinkActive="active">Bearbeiten</a>
        <a mat-list-item routerLink="/">Hinzufügen</a>
        <a mat-list-item routerLink="/login">Logout</a>
      </mat-nav-list>
    </mat-sidenav>
    <router-outlet name="nav"></router-outlet>
  </mat-sidenav-container>
  

