.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.login-card {
  max-width: 400px;
  width: auto;
  margin: auto;
  margin-top: 2rem;
}
.example-container > * {
  width: 100%;
}
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
.desc-form-field {
    width: 100%;
}
mat-form-field {
  margin-right: 12px;
}
.tile-div {
  padding-bottom: 1rem;
}
.mat-stroked-button {
  padding-top: 0.26em;
  vertical-align: middle;
  font-size: 2.0rem;
  padding-bottom: 0.26em;
  margin-top: -0.3em;
  margin-right: 12px;
}
.add-button {
  width: 100%;
  // background-color: #00b500;
  // color: #f2f2f2;
  font-size: 1.2rem;
}
.click-button {
  font-weight: 100;
}