<mat-accordion multi="true">
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Ferienwohnung Beschreibung
      </mat-panel-title>
      <mat-panel-description>
        Füge eine neuen Beschreibungen hinzu
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template ngFor let-descExp [ngForOf]="apartmentDescList">
      <mat-divider class="tile-div"></mat-divider>
      <mat-form-field>
        <input matInput placeholder="Beschreibung" [(value)]="descExp.description">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Bedeutung" [(value)]="descExp.info">
      </mat-form-field>
      <button class="save-button material-icons" mat-stroked-button aria-hidden="false" aria-label="save" matTooltip="Eintrag Speichern" color="primary" >save</button>
      <button class="save-button material-icons" mat-stroked-button aria-hidden="false" aria-label="remove" matTooltip="Eintrag Löschen" color="warn" (click)="removeDescEntry(descExp)">remove_circle</button>
    </ng-template>
    <mat-divider class="tile-div"></mat-divider>
  <button class="add-button" mat-stroked-button aria-hidden="false" aria-label="save" matTooltip="Neuer Eintrag" color="primary" (click)="addNewEntry()">Neuer Eintrag</button>
  </mat-expansion-panel>
</mat-accordion>
<div class="tile-div"></div>
<mat-accordion multi="true">
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Ferienwohnung Details
      </mat-panel-title>
      <mat-panel-description>
        Füge neue Details hinzu
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template ngFor let-detailsExp [ngForOf]="apartmentDetailsList">
      <mat-divider class="tile-div"></mat-divider>
      <mat-form-field>
        <input matInput placeholder="Bedeutung" [(value)]="detailsExp.identifier">
      </mat-form-field>
      <button class="save-button material-icons" mat-stroked-button aria-hidden="false" aria-label="save" matTooltip="Eintrag Speichern" color="primary" >save</button>
      <button class="save-button material-icons" mat-stroked-button aria-hidden="false" aria-label="remove" matTooltip="Eintrag Löschen" color="warn" (click)="removeDetailsEntry(detailsExp)">remove_circle</button>
    </ng-template>
    <mat-divider class="tile-div"></mat-divider>
  <button class="add-button" mat-stroked-button aria-hidden="false" aria-label="save" matTooltip="Neuer Eintrag" color="primary" (click)="addNewDetailsEntry()">Neuer Eintrag</button>
  </mat-expansion-panel>
</mat-accordion>
<div class="tile-div"></div>
<div *ngIf="isInputSet(apartmentID)" >
  <app-image-edit [apartmentID]="apartmentID" [panelTitle]="'Ferienwohnung Bilder'"></app-image-edit>
</div>



