<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Kacheln
    </mat-panel-title>
    <mat-panel-description>
    Verändere und füge neue Kacheln hinzu
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-divider class="tile-div"></mat-divider>
  <div *ngIf="kachelExpansionList.length > 0">
  <ng-template ngFor let-kachelExp [ngForOf]="kachelExpansionList" matExpansionPanelContent>
    <div *ngIf="!kachelExp.deleteEntry">      
      <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="kachelExp.titleName" minlength="5" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Beschreibung" [(ngModel)]="kachelExp.description">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Kachel Typ</mat-label>
          <mat-select [(ngModel)]="kachelExp.kachelType">
            <mat-option *ngFor="let kachelType of kachelTypeSelected" [value]="kachelType.desc">
              {{kachelType.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Kachel Größe</mat-label>
            <mat-select [(ngModel)]="kachelExp.kachelSize">
              <mat-option *ngFor="let kachelType of kachelSizeSelected" [value]="kachelType.desc">
                {{kachelType.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field>
          <mat-label>Modal Typ</mat-label>
          <mat-select [disabled]="disableModalChanges" [(ngModel)]="kachelExp.modalType">
            <mat-option *ngFor="let kachelType of modalTypeSelected" [value]="kachelType.desc">
              {{kachelType.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button class="save-button material-icons" mat-stroked-button aria-hidden="false" aria-label="save" matTooltip="Eintrag Speichern" color="primary" [disabled]="true" (click)="saveEntry(kachelExp)">save</button>
        <button class="save-button material-icons" mat-stroked-button aria-hidden="false" aria-label="remove" matTooltip="Eintrag Löschen" color="warn" (click)="removeEntry(kachelExp)">remove_circle</button>
        <button class="save-button material-icons" mat-stroked-button aria-hidden="false" aria-label="remove" matTooltip="Eintrag Löschen" color="warn" (click)="showTileDetails(kachelExp.ID)">
          {{isTileDetailsActive(kachelExp.ID)? 'expand_less':'expand_more'}}</button>
        <div *ngIf="hasImage(kachelExp.ID) && isTileDetailsActive(kachelExp.ID)" >
            <app-all-image-edit [tileID]="kachelExp.ID"></app-all-image-edit>
            <div class="tile-div"></div>
        </div>
        <div *ngIf="kachelExp.modalType==2 && isTileDetailsActive(kachelExp.ID)">
          <app-all-info-text-edit  [tileID]="kachelExp.ID"></app-all-info-text-edit>
          <div class="tile-div"></div>
        </div>
        <div *ngIf="kachelExp.modalType==0 && isTileDetailsActive(kachelExp.ID)">
          <app-all-apartment-edit  [tileID]="kachelExp.ID"></app-all-apartment-edit>
          <div class="tile-div"></div>
        </div>
      </div>
    </ng-template>        
    <mat-divider class="tile-div"></mat-divider>
    </div>
    <button class="add-button" mat-stroked-button aria-hidden="false" aria-label="save" matTooltip="Neuer Eintrag" color="primary" (click)="addNewEntry()">Neuer Eintrag</button>
  </mat-expansion-panel>
  