<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Kacheln
    </mat-panel-title>
    <mat-panel-description>
    Verändere und füge neue Kacheln hinzu
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div *ngIf="kachelExpansionList.length > 0">
  <ng-template ngFor let-kachelExp [ngForOf]="kachelExpansionList" matExpansionPanelContent>
    <div *ngIf="!kachelExp.deleteEntry">
      <mat-divider class="tile-div"></mat-divider>
      <mat-form-field>
          <input matInput placeholder="Name" [(value)]="kachelExp.titleName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Beschreibung" [(value)]="kachelExp.description">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Kachel Typ</mat-label>
          <mat-select [(value)]="kachelExp.kachelType">
            <mat-option *ngFor="let kachelType of kachelTypeSelected" [value]="kachelType.desc">
              {{kachelType.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Kachel Größe</mat-label>
            <mat-select [(value)]="kachelExp.kachelSize">
              <mat-option *ngFor="let kachelType of kachelSizeSelected" [value]="kachelType.desc">
                {{kachelType.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field>
          <mat-label>Modal Typ</mat-label>
          <mat-select [(value)]="kachelExp.modalType">
            <mat-option *ngFor="let kachelType of modalTypeSelected" [value]="kachelType.desc">
              {{kachelType.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button class="save-button material-icons" mat-stroked-button aria-hidden="false" aria-label="save" matTooltip="Eintrag Speichern" color="primary" >save</button>
        <button class="save-button material-icons" mat-stroked-button aria-hidden="false" aria-label="remove" matTooltip="Eintrag Löschen" color="warn" (click)="removeEntry(kachelExp)">remove_circle</button>
        <button class="save-button material-icons" mat-stroked-button aria-hidden="false" aria-label="remove" matTooltip="Eintrag Löschen" color="warn" (click)="showTileDetails(kachelExp.ID)">
          {{isTileDetailsActive(kachelExp.ID)? 'expand_less':'expand_more'}}</button>
        <app-image-edit *ngIf="hasImage(kachelExp.ID) && isTileDetailsActive(kachelExp.ID)" [tileID]="kachelExp.ID"></app-image-edit>
        <div *ngIf="isTileDetailsActive(kachelExp.ID)" class="tile-div"></div>
        <app-info-edit *ngIf="kachelExp.modalType==2 && isTileDetailsActive(kachelExp.ID)" [tileID]="kachelExp.ID"></app-info-edit>
        <div *ngIf="kachelExp.modalType==2 && isTileDetailsActive(kachelExp.ID)" class="tile-div"></div>
        <app-apartment-edit *ngIf="kachelExp.modalType==0 && isTileDetailsActive(kachelExp.ID)" [tileID]="kachelExp.ID"></app-apartment-edit>
        <div *ngIf="kachelExp.modalType==0 && isTileDetailsActive(kachelExp.ID)" class="tile-div"></div>
      </div>
    </ng-template>        
    <mat-divider class="tile-div"></mat-divider>
    <button class="add-button" mat-stroked-button aria-hidden="false" aria-label="save" matTooltip="Neuer Eintrag" color="primary" (click)="addNewEntry()">Neuer Eintrag</button>
  </div>
  </mat-expansion-panel>
  